@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "the_wild_breath_of_zeldaRg";
  src: url("vendor/thewildbreathofzelda-webfont.woff2") format("woff2"),
    url("vendor/thewildbreathofzelda-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
.color-orange {
  color: #fd7e13 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.bg-purple .navbar-nav .nav-link.active {
  color: #fd7e13;
  font-weight: 500;
}

.bg-purple {
  background-color: #391484;
  transition: 0.3s;
}

.btn-get-started {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
}

.btn-get-started-yellow {
  background-color: #fd7e13;
  color: #372642;
  transition: 0.3s;
}

.btn-get-started-yellow:hover {
  background-color: #ff7300;
  transition: 0.3s;
  scale: 1.03;
}
.nav-link,
.nav-link.active {
  display: inline-block;
  position: relative;
  color: black;
}
.nav-link::after,
.nav-link.active::after {
  content: "";
  position: absolute;
  width: 30%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1) translate(-50%, -50%);

  transform-origin: bottom left;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 85px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
.box-cabang {
  height: 25rem;
  background-color: red;
  overflow: hidden;
}
.box-cabang.lg {
  width: 100%;
  height: 25rem;
}
@media (min-width: 768px) {
  .box-cabang.lg {
    height: 100%;
  }
}

.img-zoom {
  transition: 1s;
}
.box-cabang:hover .img-zoom {
  transform: scale(1.1);
}

.box-cabang .bg-overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  transition: 1s;
  opacity: 0;
}
.box-cabang:hover .bg-overlay {
  opacity: 1;
  background-color: #fd7c13e4;
}

.box-bidang {
  background-color: transparent;
  height: 25rem;
  border-radius: 100% 100% 0 0;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}
@media (min-width: 768px) {
  .box-bidang {
    background-color: #b3e6fe !important;
  }
}

.box-unduhan {
  background-color: transparent;
  height: 15rem;
  border-radius: 50px 50px 0 0;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.box-question {
  background-color: transparent;
  border: 5px solid white;
  border-radius: 20px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  border: 10px solid white;
  border-radius: 20px;
  transform: rotateY(180deg);
}

.img-shop {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  transition: 0.5s;
}

.img-shop:hover {
  transform: scale(1.1);
}
.text-bidangq {
  font-family: "the_wild_breath_of_zeldaRg" !important;
  background: linear-gradient(
    0deg,
    rgba(202, 132, 6, 1) 0%,
    rgba(251, 245, 89, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4rem;
}
@media (min-width: 768px) {
  .text-bidangq {
    font-size: 7rem;
  }
}

.bg-overlay {
  background-color: #0000008b;
  height: 100%;
  width: 100%;
  transition: 1s;
}
